.form {

    margin: 0 auto;
    width: 29%;
    height: auto;
    background-color: #f8f9fa;
    border-color: black;
    border-style: solid;
    border-radius: 3%;
    padding: 2%;
    background-attachment: fixed;

}

body {
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
}

.connexion {
    text-align: center;
}

.home {
    float: left;
    width: 90%;
    height: 100%;
    padding: 5%;
    background-attachment: fixed;
}

#connexion , #inscription{
    display: none;
}


